.main{
    /* border: 2px solid black; */
    width: 98vw;
    height: 6rem;
    display: flex;
    align-items: center;
    text-align: center;
}
body{
    background-color: #020102;
}
.box{
    background-color: #fbc30005;
    height: 4.4rem;
    width: 15rem;
    border: 1px solid #969696;
}
p{
    text-align: center;
    color: aqua;
}
h4{
    padding-bottom: 1rem;
    margin: 1rem;
    color:#fff;
}
h1{            
    text-align: center;
    text-decoration: underline;
    font-size:3rem ;
    color:#fff;   
}